# ignore virtual env
.venv/

# vscode settings
.vscode/

# ignore compiled python garbage
__pycache__/
*.pyc

# ignore big datasets
testing_dataset/*.csv

# ignore testing files
pandas_basic.ipynb
pandas_data_cleaning.ipynb
