# ignore virtual env
.venv/

# vscode settings
.vscode/

# ignore compiled python garbage
__pycache__/
*.pyc

# ignore big datasets
stock_exchange_data/
testing_dataset/

# ignore testing files
pandas_basic.ipynb
pandas_data_cleaning.ipynb
